/* basic style */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  color: #333;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
figure {
  margin: 0;
}

/* basic class */
.flex {
  display: flex;
}
.font-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

/* variables */
$basic_bg_color: #f2f0eb;
