@import "_basic";
@import "_breakpoints";
@import "_mixin";

/* header nav */
.header-nav__outer {
  font-size: 1.6rem;
  background-color: transparent;
  padding: 0 2%;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 1.5s;
  &.scrolled {
    transition: 1.5s all;
    background-color: $basic_bg_color;
  }
}
.header-nav__inner {
  justify-content: space-between;
}
.header-nav__heading {
  margin: 10px 0;
  max-width: 300px;
  @include mq(md) {
    width: 60%;
    img {
      width: 100%;
    }
  }
}
.header-nav__icon--sp-menu {
  width: 32px;
  height: 32px;
  margin-top: 14px;
  display: none;
  @include mq(md) {
    display: block;
    &.inactive {
      display: none;
    }
  }
}
.header-nav__list--sp {
  display: none;
  position: fixed;
  top: 0;
  right: -80%;
  color: #fff;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 10% 5%;
  height: 100vh;
  overflow: scroll;
  li {
    margin-top: 30px;
    img {
      filter: brightness(0) invert(1);
    }
    &.sns-icons {
      a {
        display: inline-block;
        margin-right: 5%;
      }
    }
  }
  @include mq(md) {
    display: block;
  }
}
.header-nav__button--close {
  width: 24px;
  height: 24px;
  margin-left: auto;
  display: block;
}
.header-nav__list {
  align-items: center;
  gap: 20px;
  li {
    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  @include mq(md) {
    display: none;
  }
}

/* main visual */
.main-visual {
  background: url("../images/bg_front01.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  @include mq(sm) {
    background: url("../images/bg_front_sp01.jpg") no-repeat;
    background-size: cover;
    position: relative;
  }
}
.main-visual__text {
  @include basic-heading();
  margin: 0;
  color: #fff;
  background-color: rgba(43, 15, 15, 0.2);
  width: 27%;
  height: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: normal;
    font-size: initial;
  }
  @include mq(sm) {
    width: 100%;
    height: initial;
    position: absolute;
    bottom: 15px;
    padding: 5% 0;
  }
}

/* material section */
.material-section {
  background-color: $basic_bg_color;
  padding: 5% 0;
}
.material-section__heading {
  @include basic-heading();
  margin: 0;
}
.material-section__text {
  @include basic-text();
  margin: 3% 0;
}
.material-section__flex-wrap {
  justify-content: center;
  gap: 20px;
  @include mq(sm) {
    flex-direction: column;
  }
}
.material-section__flex-item {
  width: 25%;
  img {
    width: 100%;
  }
  h2 {
    @include basic-heading();
    font-size: 2.3rem;
  }
  p {
    @include basic-text();
  }
  @include mq(sm) {
    width: 90%;
    margin: 0 auto;
  }
}
.sm-active {
  display: none;
  @include mq(sm) {
    display: block;
  }
}

/* 18days */
.days-section {
  background: url("../images/bg_front01.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.days-section__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 72, 66, 0.8);
  display: flex;
  align-items: center;
  dl {
    margin: 0;
    color: #fff;
    margin-left: 10%;
    width: 25%;
    dt {
      @include basic-heading();
    }
    dd {
      @include basic-text();
      margin-left: 0;
      margin-top: 5%;
    }
  }
  @include mq(md) {
    dl {
      width: 90%;
      margin: 35% auto 0;
    }
  }
}
.days-section__image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60%;
  @include mq(md) {
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 70%;
    max-width: 380px;
  }
}

/* coffee section */
.coffee-section {
  background-color: $basic_bg_color;
}
.coffee-section__flex-wrap {
  flex-wrap: wrap;
  @include mq(sm) {
    flex-direction: column;
  }
}
.coffee-section__flex-item {
  width: 50%;
  height: 850px;
  color: #fff;
  img:not(.small) {
    width: 100%;
    height: 100%;
  }
  &:first-child {
    position: relative;
    img {
      &.small {
        position: absolute;
        width: 70%;
        left: 0;
        bottom: -10%;
      }
    }
  }
  &:nth-child(2) {
    background-color: #8c6846;
    padding: 4% 0 4% 4%;
  }
  &:nth-child(3) {
    background-color: #28282c;
    padding: 4% 4% 4% 0;
    .coffee-section__heading {
      padding-left: 20%;
      margin-top: 15%;
    }
    .coffee-section__sub-heading {
      padding-left: 20%;
    }
    hr {
      margin-left: 20%;
    }
    .coffee-section__text--bold {
      padding-left: 20%;
    }
    .coffee-section__text {
      margin-left: auto;
    }
  }
  &:nth-child(4) {
    position: relative;
    img {
      &.small {
        position: absolute;
        width: 70%;
        right: 0;
        bottom: -10%;
      }
    }
  }
  @include mq(sm) {
    width: 100%;
    height: initial;
    &:first-child {
      img {
        &.small {
          width: 100%;
          position: initial;
        }
      }
    }
    &:nth-child(2) {
      height: 750px;
    }
    &:nth-child(3) {
      height: 770px;
      padding-bottom: 4%;
    }
    &:nth-child(4) {
      margin-bottom: 10%;
      img {
        &.small {
          width: 100%;
          position: initial;
        }
      }
    }
  }
}
.coffee-section__heading {
  font-size: 3.1rem;
  margin-bottom: 0;
}
.coffee-section__sub-heading {
  font-size: 1.2rem;
  margin-top: 0;
  & + hr {
    margin: 5% 0;
    width: 15%;
    border: none;
    background-color: #fff;
    height: 1px;
  }
}
.coffee-section__text--bold {
  @include basic-text();
  font-size: 1.6rem;
}
.coffee-section__text {
  @include basic-text();
  width: 80%;
  margin-top: 5%;
}
.coffee-section__concept {
  color: initial;
  background-color: #c5b3a2;
  margin-top: 5%;
  padding: 4%;
  dt {
    font-size: 1.8rem;
  }
  dd {
    @include basic-text();
    margin-left: 0;
    margin-top: 2%;
    width: 85%;
  }
}
.coffee-section__button {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 180px;
  text-align: center;
  padding: 11px 0;
  font-size: 12px;
  margin: 5% auto 0;
  position: relative;
  cursor: pointer;
  &::after {
    display: block;
    content: "";
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 18px;
    height: 1px;
    top: 1.7em;
    right: 1.5em;
  }
  &::before {
    display: block;
    content: "";
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    height: 18px;
    width: 1px;
    top: 1em;
    right: 2.2em;
  }
}
.coffee-section__image-wrap {
  width: 100%;
  height: 500px;
  margin-top: 15%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include mq(sm) {
    height: initial;
    img {
      height: initial;
    }
  }
}
.coffee-section__info-wrap {
  padding: 3% 0 5%;
  a {
    text-decoration: underline;
  }
  h4 {
    &:nth-of-type(2) {
      margin-top: 2%;
    }
  }
}
.coffee-section__modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 999;
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.coffee-section__modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 700px;
  width: 90vw;
}
.coffee-section__modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
.coffee-section__modal-content {
  background: #fff;
  color: #333;
  text-align: left;
  padding: 5% 5% 5% 10%;
  .coffee-section__heading {
    margin-top: 0 !important;
    padding-left: 0 !important;
  }
  .coffee-section__sub-heading {
    padding-left: 0 !important;
  }
  hr {
    background-color: #333;
    margin-left: 0 !important;
  }
  dl {
    font-size: 1.2rem;
  }
  dt {
    float: left;
  }
  dd {
    padding-left: 10%;
    &:not(:last-child) {
      margin-bottom: 1%;
    }
  }
  @include mq(sm) {
    dt {
      float: initial;
    }
  }
}

/* line up section */
.lineup-section {
  padding: 5% 2%;
  @include mq(md) {
    padding: 10% 2%;
  }
}
.lineup-section__image {
  width: 25%;
  max-width: 315px;
  margin: 1% 2% 2% 2%;
  @include mq(sm) {
    width: 50%;
  }
}
.lineup-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  justify-content: space-between;
  @include mq(md) {
    flex-direction: column;
    width: 100%;
  }
}
.lineup-section__flex-item {
  width: 30%;
  overflow: hidden;
  img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
    &:hover {
      transition: 1s all;
      transform: scale(1.1);
    }
  }
  figcaption {
    margin-top: 4%;
  }
  @include mq(md) {
    width: 90%;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 10%;
    }
  }
}

/* event section */
.event-section {
  background-color: #d4e9e2;
  padding: 5% 2%;
  @include mq(md) {
    padding: 10% 2%;
  }
}
.event-section__image {
  width: 25%;
  max-width: 315px;
  margin: 1% 2% 2% 2%;
  @include mq(sm) {
    width: 50%;
  }
}
.event-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  justify-content: center;
  @include mq(md) {
    flex-direction: column;
  }
}
.event-section__flex-item {
  width: 50%;
  &.before {
    overflow: hidden;
    img {
      width: 100%;
      transition: 1s;
      &:hover {
        transition: 1s all;
        transform: scale(1.1);
      }
    }
  }
  &.after {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      @include basic-heading();
    }
    p {
      @include basic-text();
    }
    span {
      @include basic-text();
      border-bottom: 2px solid #333;
    }
  }
  @include mq(md) {
    width: 100%;
    &.after {
      padding: 5% 0;
      h2 {
        margin-top: 0;
      }
    }
  }
}
.event-section__link {
  display: contents;
}

/* presen section */
.presen-section {
  background-color: $basic_bg_color;
  padding: 5% 2% 10% 2%;
  @include mq(sm) {
    padding: 5% 2% 15% 2%;
  }
}
.presen-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10%;
  }
  @include mq(md) {
    flex-direction: column-reverse;
  }
}
.presen-section__flex-item {
  width: 50%;
  height: 289px;
  &.before {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    h2 {
      @include basic-heading();
      margin: 0;
    }
    h3 {
      font-size: 1.6rem;
      margin: 0;
    }
    p {
      @include basic-text();
      text-align: left;
    }
    span {
      @include basic-text();
      border-bottom: 2px solid #333;
    }
  }
  &.after {
    margin-left: -10%;
    margin-bottom: -10%;
    img {
      width: 120%;
      height: 100%;
      transition: 1s;
      &:hover {
        transition: 1s all;
        transform: scale(1.1);
      }
    }
  }
  @include mq(md) {
    height: initial;
    width: 100%;
    &.before {
      padding: 5%;
    }
    &.after {
      margin-left: initial;
      margin-bottom: initial;
      img {
        width: 100%;
      }
    }
  }
}
.presen-section__link {
  display: contents;
}

/* footer */
.footer__outer {
  background-color: #333;
  position: relative;
  padding: 50px 0 25px;
}
.footer__logo {
  width: 65px;
  top: -25%;
  right: 0;
  position: absolute;
  left: 0;
  margin: 0 auto;
}
.footer__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__text-logo {
  width: 250px;
}
.footer__menu {
  color: #fff;
  justify-content: center;
  gap: 25px;
  margin: 0;
}
.footer__copyrights {
  color: #868585;
}
.footer__arrow--back-to-top {
  width: 25px;
  height: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(-45deg);
  position: absolute;
  top: 10%;
  right: 2%;
  cursor: pointer;
}
