/* basic style */
* {
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  color: #333; }

ul {
  padding-left: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

figure {
  margin: 0; }

img {
  vertical-align: bottom; }

/* basic class */
.flex {
  display: flex; }

.font-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

/* variables */
/* breakpoints */
/* basic heading */
/* basic text */
/* media query */
/* header nav */
.header-nav__outer {
  font-size: 1.6rem;
  background-color: transparent;
  padding: 0 2%;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 1.5s; }
  .header-nav__outer.scrolled {
    transition: 1.5s all;
    background-color: #f2f0eb; }

.header-nav__inner {
  justify-content: space-between; }

.header-nav__heading {
  margin: 10px 0;
  max-width: 300px; }
  @media screen and (max-width: 960px) {
    .header-nav__heading {
      width: 60%; }
      .header-nav__heading img {
        width: 100%; } }

.header-nav__icon--sp-menu {
  width: 32px;
  height: 32px;
  margin-top: 14px;
  display: none; }
  @media screen and (max-width: 960px) {
    .header-nav__icon--sp-menu {
      display: block; }
      .header-nav__icon--sp-menu.inactive {
        display: none; } }

.header-nav__list--sp {
  display: none;
  position: fixed;
  top: 0;
  right: -80%;
  color: #fff;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 10% 5%;
  height: 100vh;
  overflow: scroll; }
  .header-nav__list--sp li {
    margin-top: 30px; }
    .header-nav__list--sp li img {
      filter: brightness(0) invert(1); }
    .header-nav__list--sp li.sns-icons a {
      display: inline-block;
      margin-right: 5%; }
  @media screen and (max-width: 960px) {
    .header-nav__list--sp {
      display: block; } }

.header-nav__button--close {
  width: 24px;
  height: 24px;
  margin-left: auto;
  display: block; }

.header-nav__list {
  align-items: center;
  gap: 20px; }
  .header-nav__list li a:hover {
    opacity: 0.8; }
  @media screen and (max-width: 960px) {
    .header-nav__list {
      display: none; } }

/* main visual */
.main-visual {
  background: url("../images/bg_front01.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  @media screen and (max-width: 520px) {
    .main-visual {
      background: url("../images/bg_front_sp01.jpg") no-repeat;
      background-size: cover;
      position: relative; } }

.main-visual__text {
  font-size: 2.1rem;
  margin: 0;
  color: #fff;
  background-color: rgba(43, 15, 15, 0.2);
  width: 27%;
  height: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .main-visual__text span {
    font-weight: normal;
    font-size: initial; }
  @media screen and (max-width: 520px) {
    .main-visual__text {
      width: 100%;
      height: initial;
      position: absolute;
      bottom: 15px;
      padding: 5% 0; } }

/* material section */
.material-section {
  background-color: #f2f0eb;
  padding: 5% 0; }

.material-section__heading {
  font-size: 2.1rem;
  margin: 0; }

.material-section__text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin: 3% 0; }

.material-section__flex-wrap {
  justify-content: center;
  gap: 20px; }
  @media screen and (max-width: 520px) {
    .material-section__flex-wrap {
      flex-direction: column; } }

.material-section__flex-item {
  width: 25%; }
  .material-section__flex-item img {
    width: 100%; }
  .material-section__flex-item h2 {
    font-size: 2.1rem;
    font-size: 2.3rem; }
  .material-section__flex-item p {
    font-size: 1.4rem;
    line-height: 1.8; }
  @media screen and (max-width: 520px) {
    .material-section__flex-item {
      width: 90%;
      margin: 0 auto; } }

.sm-active {
  display: none; }
  @media screen and (max-width: 520px) {
    .sm-active {
      display: block; } }

/* 18days */
.days-section {
  background: url("../images/bg_front01.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }

.days-section__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 72, 66, 0.8);
  display: flex;
  align-items: center; }
  .days-section__overlay dl {
    margin: 0;
    color: #fff;
    margin-left: 10%;
    width: 25%; }
    .days-section__overlay dl dt {
      font-size: 2.1rem; }
    .days-section__overlay dl dd {
      font-size: 1.4rem;
      line-height: 1.8;
      margin-left: 0;
      margin-top: 5%; }
  @media screen and (max-width: 960px) {
    .days-section__overlay dl {
      width: 90%;
      margin: 35% auto 0; } }

.days-section__image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60%; }
  @media screen and (max-width: 960px) {
    .days-section__image {
      top: 20%;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 70%;
      max-width: 380px; } }

/* coffee section */
.coffee-section {
  background-color: #f2f0eb; }

.coffee-section__flex-wrap {
  flex-wrap: wrap; }
  @media screen and (max-width: 520px) {
    .coffee-section__flex-wrap {
      flex-direction: column; } }

.coffee-section__flex-item {
  width: 50%;
  height: 850px;
  color: #fff; }
  .coffee-section__flex-item img:not(.small) {
    width: 100%;
    height: 100%; }
  .coffee-section__flex-item:first-child {
    position: relative; }
    .coffee-section__flex-item:first-child img.small {
      position: absolute;
      width: 70%;
      left: 0;
      bottom: -10%; }
  .coffee-section__flex-item:nth-child(2) {
    background-color: #8c6846;
    padding: 4% 0 4% 4%; }
  .coffee-section__flex-item:nth-child(3) {
    background-color: #28282c;
    padding: 4% 4% 4% 0; }
    .coffee-section__flex-item:nth-child(3) .coffee-section__heading {
      padding-left: 20%;
      margin-top: 15%; }
    .coffee-section__flex-item:nth-child(3) .coffee-section__sub-heading {
      padding-left: 20%; }
    .coffee-section__flex-item:nth-child(3) hr {
      margin-left: 20%; }
    .coffee-section__flex-item:nth-child(3) .coffee-section__text--bold {
      padding-left: 20%; }
    .coffee-section__flex-item:nth-child(3) .coffee-section__text {
      margin-left: auto; }
  .coffee-section__flex-item:nth-child(4) {
    position: relative; }
    .coffee-section__flex-item:nth-child(4) img.small {
      position: absolute;
      width: 70%;
      right: 0;
      bottom: -10%; }
  @media screen and (max-width: 520px) {
    .coffee-section__flex-item {
      width: 100%;
      height: initial; }
      .coffee-section__flex-item:first-child img.small {
        width: 100%;
        position: initial; }
      .coffee-section__flex-item:nth-child(2) {
        height: 750px; }
      .coffee-section__flex-item:nth-child(3) {
        height: 770px;
        padding-bottom: 4%; }
      .coffee-section__flex-item:nth-child(4) {
        margin-bottom: 10%; }
        .coffee-section__flex-item:nth-child(4) img.small {
          width: 100%;
          position: initial; } }

.coffee-section__heading {
  font-size: 3.1rem;
  margin-bottom: 0; }

.coffee-section__sub-heading {
  font-size: 1.2rem;
  margin-top: 0; }
  .coffee-section__sub-heading + hr {
    margin: 5% 0;
    width: 15%;
    border: none;
    background-color: #fff;
    height: 1px; }

.coffee-section__text--bold {
  font-size: 1.4rem;
  line-height: 1.8;
  font-size: 1.6rem; }

.coffee-section__text {
  font-size: 1.4rem;
  line-height: 1.8;
  width: 80%;
  margin-top: 5%; }

.coffee-section__concept {
  color: initial;
  background-color: #c5b3a2;
  margin-top: 5%;
  padding: 4%; }
  .coffee-section__concept dt {
    font-size: 1.8rem; }
  .coffee-section__concept dd {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-left: 0;
    margin-top: 2%;
    width: 85%; }

.coffee-section__button {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 180px;
  text-align: center;
  padding: 11px 0;
  font-size: 12px;
  margin: 5% auto 0;
  position: relative;
  cursor: pointer; }
  .coffee-section__button::after {
    display: block;
    content: "";
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 18px;
    height: 1px;
    top: 1.7em;
    right: 1.5em; }
  .coffee-section__button::before {
    display: block;
    content: "";
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    height: 18px;
    width: 1px;
    top: 1em;
    right: 2.2em; }

.coffee-section__image-wrap {
  width: 100%;
  height: 500px;
  margin-top: 15%; }
  .coffee-section__image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (max-width: 520px) {
    .coffee-section__image-wrap {
      height: initial; }
      .coffee-section__image-wrap img {
        height: initial; } }

.coffee-section__info-wrap {
  padding: 3% 0 5%; }
  .coffee-section__info-wrap a {
    text-decoration: underline; }
  .coffee-section__info-wrap h4:nth-of-type(2) {
    margin-top: 2%; }

.coffee-section__modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 999; }
  .coffee-section__modal-wrap::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .coffee-section__modal-wrap.active {
    opacity: 1;
    visibility: visible; }

.coffee-section__modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 700px;
  width: 90vw; }

.coffee-section__modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer; }

.coffee-section__modal-content {
  background: #fff;
  color: #333;
  text-align: left;
  padding: 5% 5% 5% 10%; }
  .coffee-section__modal-content .coffee-section__heading {
    margin-top: 0 !important;
    padding-left: 0 !important; }
  .coffee-section__modal-content .coffee-section__sub-heading {
    padding-left: 0 !important; }
  .coffee-section__modal-content hr {
    background-color: #333;
    margin-left: 0 !important; }
  .coffee-section__modal-content dl {
    font-size: 1.2rem; }
  .coffee-section__modal-content dt {
    float: left; }
  .coffee-section__modal-content dd {
    padding-left: 10%; }
    .coffee-section__modal-content dd:not(:last-child) {
      margin-bottom: 1%; }
  @media screen and (max-width: 520px) {
    .coffee-section__modal-content dt {
      float: initial; } }

/* line up section */
.lineup-section {
  padding: 5% 2%; }
  @media screen and (max-width: 960px) {
    .lineup-section {
      padding: 10% 2%; } }

.lineup-section__image {
  width: 25%;
  max-width: 315px;
  margin: 1% 2% 2% 2%; }
  @media screen and (max-width: 520px) {
    .lineup-section__image {
      width: 50%; } }

.lineup-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  justify-content: space-between; }
  @media screen and (max-width: 960px) {
    .lineup-section__flex-wrap {
      flex-direction: column;
      width: 100%; } }

.lineup-section__flex-item {
  width: 30%;
  overflow: hidden; }
  .lineup-section__flex-item img {
    width: 100%;
    cursor: pointer;
    transition: 1s; }
    .lineup-section__flex-item img:hover {
      transition: 1s all;
      transform: scale(1.1); }
  .lineup-section__flex-item figcaption {
    margin-top: 4%; }
  @media screen and (max-width: 960px) {
    .lineup-section__flex-item {
      width: 90%;
      margin: 0 auto; }
      .lineup-section__flex-item:not(:last-child) {
        margin-bottom: 10%; } }

/* event section */
.event-section {
  background-color: #d4e9e2;
  padding: 5% 2%; }
  @media screen and (max-width: 960px) {
    .event-section {
      padding: 10% 2%; } }

.event-section__image {
  width: 25%;
  max-width: 315px;
  margin: 1% 2% 2% 2%; }
  @media screen and (max-width: 520px) {
    .event-section__image {
      width: 50%; } }

.event-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  justify-content: center; }
  @media screen and (max-width: 960px) {
    .event-section__flex-wrap {
      flex-direction: column; } }

.event-section__flex-item {
  width: 50%; }
  .event-section__flex-item.before {
    overflow: hidden; }
    .event-section__flex-item.before img {
      width: 100%;
      transition: 1s; }
      .event-section__flex-item.before img:hover {
        transition: 1s all;
        transform: scale(1.1); }
  .event-section__flex-item.after {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .event-section__flex-item.after h2 {
      font-size: 2.1rem; }
    .event-section__flex-item.after p {
      font-size: 1.4rem;
      line-height: 1.8; }
    .event-section__flex-item.after span {
      font-size: 1.4rem;
      line-height: 1.8;
      border-bottom: 2px solid #333; }
  @media screen and (max-width: 960px) {
    .event-section__flex-item {
      width: 100%; }
      .event-section__flex-item.after {
        padding: 5% 0; }
        .event-section__flex-item.after h2 {
          margin-top: 0; } }

.event-section__link {
  display: contents; }

/* presen section */
.presen-section {
  background-color: #f2f0eb;
  padding: 5% 2% 10% 2%; }
  @media screen and (max-width: 520px) {
    .presen-section {
      padding: 5% 2% 15% 2%; } }

.presen-section__flex-wrap {
  width: 90%;
  margin: 2% auto 0;
  align-items: center; }
  .presen-section__flex-wrap:not(:last-child) {
    margin-bottom: 10%; }
  @media screen and (max-width: 960px) {
    .presen-section__flex-wrap {
      flex-direction: column-reverse; } }

.presen-section__flex-item {
  width: 50%;
  height: 289px; }
  .presen-section__flex-item.before {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%; }
    .presen-section__flex-item.before h2 {
      font-size: 2.1rem;
      margin: 0; }
    .presen-section__flex-item.before h3 {
      font-size: 1.6rem;
      margin: 0; }
    .presen-section__flex-item.before p {
      font-size: 1.4rem;
      line-height: 1.8;
      text-align: left; }
    .presen-section__flex-item.before span {
      font-size: 1.4rem;
      line-height: 1.8;
      border-bottom: 2px solid #333; }
  .presen-section__flex-item.after {
    margin-left: -10%;
    margin-bottom: -10%; }
    .presen-section__flex-item.after img {
      width: 120%;
      height: 100%;
      transition: 1s; }
      .presen-section__flex-item.after img:hover {
        transition: 1s all;
        transform: scale(1.1); }
  @media screen and (max-width: 960px) {
    .presen-section__flex-item {
      height: initial;
      width: 100%; }
      .presen-section__flex-item.before {
        padding: 5%; }
      .presen-section__flex-item.after {
        margin-left: initial;
        margin-bottom: initial; }
        .presen-section__flex-item.after img {
          width: 100%; } }

.presen-section__link {
  display: contents; }

/* footer */
.footer__outer {
  background-color: #333;
  position: relative;
  padding: 50px 0 25px; }

.footer__logo {
  width: 65px;
  top: -25%;
  right: 0;
  position: absolute;
  left: 0;
  margin: 0 auto; }

.footer__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; }

.footer__text-logo {
  width: 250px; }

.footer__menu {
  color: #fff;
  justify-content: center;
  gap: 25px;
  margin: 0; }

.footer__copyrights {
  color: #868585; }

.footer__arrow--back-to-top {
  width: 25px;
  height: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(-45deg);
  position: absolute;
  top: 10%;
  right: 2%;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
